:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-text-color: #fff;
}
body {
  background-color: #fff;
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.visually__hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.section__about {
  padding-bottom: 94px;
}

/* navigation and logo */
.conteiner__flex--navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
  margin-right: 95px;
  text-decoration: none;
}
.logo__color {
  color: var(--accent-text-color);
}

/* header */
.header {
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
/* site-nav */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__item {
  list-style: none;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item--link {
  position: relative;
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
}
.site-nav__item--link::after {
  position: absolute;
  left: 0;
  bottom: -32px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.site-nav__item--link:hover::after {
  transform: scaleX(1);
}
.site-nav__item--link:hover,
.site-nav__item--link:focus {
  color: var(--accent-text-color);
}
/* contacts */
.contacts {
  display: flex;
  align-items: center;
}
.contacts__item {
  list-style: none;
}
.contacts__item--mail,
.contacts__item--tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.contacts__item--mail:hover,
.contacts__item--mail:focus,
.contacts__item--tel:hover,
.contacts__item--tel:focus {
  color: var(--accent-text-color);
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__mail--icon {
  fill: var(--primary-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel--icon {
  fill: var(--primary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item--mail:hover .contacts__mail--icon,
.contacts__item--tel:hover .contacts__tel--icon {
  fill: var(--accent-text-color);
}

/* hero */
.hero {
  background: #2f303a;
  background: #2f303a;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/herobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container {
  max-width: 696px;
  text-align: center;
}
.hero__title {
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: white;
  font-family: inherit;
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;

  min-width: 200px;
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.backdrop__hidden.modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 580px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  background-image: url(../img/close.svg);
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__form--title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 40px;
}

.modal__form--field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.modal__form--input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}
.modal__form--input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.modal__form--message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms linear;
}

.modal__form--message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--message:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.submit__modal {
  width: 200px;
  height: 50px;
  align-self: center;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--footer-text-color);
  border: none;
}
.modal__form--checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal__form--checkbox::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #303030;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal__form--check:checked + .modal__form--checkbox::before {
  background-color: var(--accent-text-color);

  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.modal__form--check:focus + .modal__form--checkbox::before {
  outline: 2px solid blue;
  outline-offset: 1px;
}
.modal__checkbox--link {
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-text-color);

  letter-spacing: 0.03em;
}
.modal__form--wrapper {
  display: block;
  position: relative;
  margin-top: 6px;
}
.modal__form--icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-30%);
  display: block;
  width: 13px;
  height: 13px;
  transition: background-color 250ms linear;
}
.modal__mail--icon {
  width: 15px;
  height: 15px;
}
.modal__form--input:focus + .modal__form--icon {
  fill: var(--accent-text-color);
}
/* features */
.features {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.features__blocks {
  flex-basis: calc((100% - 120px) / 4);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 30px;
  margin-left: 30px;
}
.features__blocks--title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.feature__blocks--frame {
  padding: 25px 102px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}
.features__blocks--icon {
  width: 65px;
  height: 70px;
}

/* about */

.about {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.about__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.submenu {
  position: absolute;

  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 28px 80px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(47, 48, 58, 0.8);
  list-style: none;
}

/* team */

.section__team {
  background: #f5f4fa;
}
.team {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;

  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}
.team__item--content {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.team__item--name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}
.team__item--pos {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* social */
.subscribe {
  display: flex;
  justify-content: space-between;
}
.subscribe__item:not(:last-child) {
  margin-right: 10px;
}
.subscribe__item--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}
.subscribe__item--icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}
.subscribe__item--link:hover,
.subscribe__item--link:focus {
  background-color: var(--accent-text-color);
}
.subscribe__item--link:hover .social__item--icon,
.subscribe__item--link:focus .social__item--icon {
  fill: #ffffff;
}

/* clients */
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  margin-left: -30px;
  margin-top: -30px;
}
.cliens__item {
  list-style: none;
}
.clients__item--link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item--icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item--link:hover .client__item--icon,
.clients__item--link:focus .client__item--icon {
  fill: var(--accent-text-color);
}
.clients__item--link:hover,
.clients__item--link:focus {
  border: 1px solid var(--accent-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo__footer {
  color: #fff;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container--logo {
  margin-bottom: 20px;
}
.contacts__footer--item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__footer--address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 9px;
}
.contacts__footer--mail,
.contacts__footer--tel {
  color: rgba(255, 255, 255, 0.6);
}

/* join */
.join {
  margin-left: 70px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-text-color);
}
.subscribe__footer--icon {
  fill: white;
}
.subscribe__footer--link {
  background-color: rgba(255, 255, 255, 0.1);
}

/* footer-form */
.footer__form--title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer__form--container {
  display: flex;
  margin-left: 84px;
}
.footer__form--input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding-left: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: #fff;
}
.footer__form--input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.footer__form--btn {
  width: 184px;
  height: 50px;
  background: #2196f3;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #fff;

  background-image: url(../img/iconsend.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 20px center;
}

/* filters */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters__item--button {
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: #212121;
  letter-spacing: 0.03em;
  min-width: 73px;
  padding: 6px 22px;
  cursor: pointer;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__item :hover,
.filters__item :focus {
  color: var(--footer-text-color);
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
}

/* product */
.product {
  display: flex;
  flex-wrap: wrap;
}
.product__card--container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.product__card--item {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 25px;
  margin-top: 30px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.product__card--link {
  text-decoration: none;
}
.product__card--thumb {
  position: relative;
  overflow: hidden;
}
.product__card--overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.product__card--thumb:hover .product__card--overlay {
  transform: translateY(0%);
}
.product__thumb--text {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  top: 0%;
  right: 0%;

  margin: 0;

  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}
.product__thumb--text:hover,
.product__thumb--text:focus {
  opacity: 1;
}
.product__card--name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
}
.product__card--text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-left: 24px;
}
